Source: libqrack
Priority: optional
Maintainer: Daniel Strano <dan@unitary.fund>
Build-Depends: debhelper-compat (= 12), make, gcc, g++, cmake (>= 3.9), libboost-dev
Standards-Version: 4.4.1
Section: libs
Homepage: https://github.com/unitaryfund/qrack
#Vcs-Browser: https://salsa.debian.org/debian/qrack
#Vcs-Git: https://salsa.debian.org/debian/qrack.git

Package: libqrack-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Built-Using: make, gcc, g++, cmake (>= 3.9), libboost-dev
Depends: libqrack (= 9.0.5), ocl-icd-opencl-dev, libc6
Description: unitaryfund/qrack quantum computer simulator library
 unitaryfund/qrack (or vm6502q/qrack) quantum computer simulator library

Package: libqrack
Architecture: any
Multi-Arch: same
Built-Using: make, gcc, g++, cmake (>= 3.9), libboost-dev
Depends: ocl-icd-opencl-dev, libc6
Description: unitaryfund/qrack quantum computer simulator library
 unitaryfund/qrack (or vm6502q/qrack) quantum computer simulator library
