name: Build Qrack installers

on:
  push:
    branches:
      - main  # Trigger on pushes to the main branch (adjust if needed)
      - development

  workflow_dispatch: # Allow manual triggering of the workflow


jobs:
  build_noble:
    runs-on: ubuntu-24.04  # Use a Noble Numbat runner
    strategy:
      matrix:
        platform:
          - manylinux_2_39_x86_64
    steps:
      - name: Checkout Qrack
        uses: actions/checkout@v4

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers

      - name: Build Qrack Linux x86-64
        run: |
          mkdir build
          cd build
          cmake -DENABLE_RDRAND=OFF -DENABLE_DEVRAND=ON -DQBCAPPOW=12 -DCPP_STD=14 ..
          make all
          sudo cpack

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libqrack-${{ matrix.platform }}
          path: |
            build/libqrack-*.sh
            build/benchmarks

  build_jammy:
    runs-on: ubuntu-22.04  # Use a Jammy Jellyfish runner
    strategy:
      matrix:
        platform:
          - manylinux_2_35_x86_64
    steps:
      - name: Checkout Qrack
        uses: actions/checkout@v4

      - name: Prepare Build Environment (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers

      - name: Build Qrack Linux x86-64
        run: |
          mkdir build
          cd build
          cmake -DENABLE_RDRAND=OFF -DENABLE_DEVRAND=ON -DQBCAPPOW=12 -DCPP_STD=14 ..
          make all
          sudo cpack

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libqrack-${{ matrix.platform }}
          path: |
            build/libqrack-*.sh
            build/benchmarks

  build_focal:
    runs-on: ubuntu-20.04  # Use a Focal Fossa runner
    strategy:
      matrix:
        platform:
          - manylinux2014_x86_64
    steps:
      - name: Checkout Qrack
        uses: actions/checkout@v4

      - name: Prepare Build Environment (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers

      - name: Build Qrack Linux x86-64
        run: |
          mkdir build
          cd build
          cmake -DENABLE_RDRAND=OFF -DENABLE_DEVRAND=ON -DQBCAPPOW=12 -DCPP_STD=14 ..
          make all
          sudo cpack

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libqrack-${{ matrix.platform }}
          path: |
            build/libqrack-*.sh
            build/benchmarks

  build_mac_14:
    runs-on: macos-latest  # Use a Mac OS runner
    strategy:
      matrix:
        platform:
          - macosx_14_0_arm64
    steps:
      - name: Checkout Qrack
        uses: actions/checkout@v4

      - name: Install Homebrew (MacOS)
        uses: Homebrew/actions/setup-homebrew@master

      - name: Prepare Build Environment (MacOS)
        run: |
          brew install cmake

      - name: Build Qrack MacOS
        run: |
          mkdir build
          cd build
          cmake -DENABLE_OPENCL=OFF -DENABLE_COMPLEX_X2=OFF -DENABLE_SSE3=OFF -DENABLE_RDRAND=OFF -DQBCAPPOW=12 -DCPP_STD=14 ..
          make qrack_pinvoke benchmarks
          sudo cpack

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libqrack-${{ matrix.platform }}
          path: |
            build/libqrack-*.sh
            build/benchmarks

  build_windows:
    runs-on: windows-latest  # Use a Windows runner
    strategy:
      matrix:
        platform:
          - win-amd64
        dependencies: [vcpkg]
    steps:
      - name: Mount vcpkg cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/vcpkg/archives"
          key: vcpkg-${{ matrix.os }}

      - name: Install vcpkg dependencies
        run: |
          vcpkg install opencl

      - name: Checkout Qrack
        uses: actions/checkout@v4

      - name: Build Qrack Windows x86-64
        run: |
          mkdir build
          cd build
          powershell -c "Invoke-WebRequest -Uri 'https://github.com/ckormanyos/xxd/releases/download/v1.1/xxd-win64-msvc.zip' -OutFile 'xxd-win64-msvc.zip'"
          powershell -c "Expand-Archive -Path xxd-win64-msvc.zip -DestinationPath ."
          cmake .. -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake" -DXXD_BIN="xxd.exe" -DQBCAPPOW=12 -DCPP_STD=14
          cmake --build . --config Release --target PACKAGE benchmarks

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libqrack-${{ matrix.platform }}
          path: |
            build/libqrack-*.exe
            build/Release/benchmarks.exe
